<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Germinate an Agriculture Category Flat Bootstrap Responsive Website Template | Gallery :: w3layouts</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Germinate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- gallery -->
<link href="{% static 'css/lsb.css" rel="stylesheet'%}" type="text/css">
<!-- //gallery -->
<!-- font-awesome-icons -->
<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet"> 
<!-- //font-awesome-icons -->
</head>
	
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="w3_agileits_banner_main_grid">
				<div class="w3_agile_logo">
					<h1><a href="{% static 'index.html'%}"><span>G</span>erminate<i>Grow healthy products</i></a></h1>
				</div>
				<div class="agile_social_icons_banner">
					{% comment %} <ul class="agileits_social_list">
						<li><a href="{% static '#'%}" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="{% static '#'%}" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="{% static '#'%}" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="{% static '#'%}" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
					</ul> {% endcomment %}
				</div>
				<div class="agileits_w3layouts_menu">
					{% comment %} <div class="shy-menu">
						<a class="shy-menu-hamburger">
							<span class="layer top"></span>
							<span class="layer mid"></span>
							<span class="layer btm"></span>
						</a> {% endcomment %}
						{% comment %} <div class="shy-menu-panel">
							<nav class="menu menu--horatio link-effect-8" id="link-effect-8">
								<ul class="w3layouts_menu__list">
									<li class="active"><a href="/">Home</a></li>
									<li><a href="about">About Us</a></li> 
									<li><a href="signupas">sign up</a></li>
									<li><a href="loginas">login</a></li> 
									<li><a href="contact">Contact Us</a></li>
								</ul>
							</nav>
						</div> {% endcomment %}
						{% comment %} <div class="clearfix"> </div>
					</div> {% endcomment %}
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="w3_banner_info">
				<div class="w3_banner_info_grid">
					<h3 class="test">I'm Planting A Tree To Teach Me To Gather Strength From My Deepest Roots</h3>
                    <br>
                    <br>
					<center><div style="text-align:center">><ul class="text-center ">
                        <li><a href="krishibhavan/register1" class="w3ls_more" data-toggle="modal" data-target="#myModal" style="padding-bottom:20px; padding-right:20px; font-size: 15px ;">KRISHIBHAVAN</a></li>
						<li><a href="farmer/farmer_signup" class="w3ls_more" data-toggle="modal" data-target="#myModal" style="padding-bottom:20px; font-size: 15px;">FARMER</a></li>
						<li><a href="agro_service/agro_reg" class="w3ls_more" data-toggle="modal" data-target="#myModal" style="padding-bottom:20px; font-size: 15px;">AGRO SERVICE</a></li>
						<li><a href="client/signup" class="w3ls_more" data-toggle="modal" data-target="#myModal" style="padding-bottom:20px; font-size: 15px;">CLIENT</a></li>


					</ul></center></div>
				</div>
			</div>
		</div>
	</div>
<!-- banner -->
