{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Germinate an Agriculture Category Flat Bootstrap Responsive Website Template | Gallery :: w3layouts</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Germinate Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
<!-- gallery -->
<link href="{% static 'css/lsb.css" rel="stylesheet'%}" type="text/css">
<!-- //gallery -->
<!-- font-awesome-icons -->
<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet"> 
<!-- //font-awesome-icons -->
</head>
	
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="w3_agileits_banner_main_grid">
				<div class="w3_agile_logo">
					<h1><a href="{% static 'index.html'%}"><span>G</span>erminate<i>Grow healthy products</i></a></h1>
				</div>

<section>
    <div class="modal-body">
        <img src="{% static 'images/4.jpg'%}" alt=" " class="img-responsive" />
        <p>Ut enim ad minima veniam, quis nostrum 
            exercitationem ullam corporis suscipit laboriosam, 
            nisi ut aliquid ex ea commodi consequatur? Quis autem 
            vel eum iure reprehenderit qui in ea voluptate velit 
            esse quam nihil molestiae consequatur, vel illum qui 
            dolorem eum fugiat quo voluptas nulla pariatur.
            <i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
                esse quam nihil molestiae consequatur.</i></p>
    </div>
</section>